<link rel="stylesheet" href="/css/styles.css" />

<div class="d-flex flex-column justify-content-center align-items-center">
  <div class="text-white">
    <h1>500 Error</h1>
    <p>Page not found</p>
  </div>
  <div>
    <img src="/images/yugioh-trap-card.gif" alt="trap card" />
  </div>
  <div class="mt-3">
    <a class="btn btn-success" href="/">Go Back</a>
  </div>
</div>
